# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://tu-proyecto.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=tu-anon-key
SUPABASE_SERVICE_ROLE_KEY=tu-service-role-key

# Nubefact (facturación electrónica SUNAT)
NUBEFACT_RUC=
NUBEFACT_TOKEN=
NUBEFACT_URL_SANDBOX=https://api.nubefact.com/api/v1
NUBEFACT_URL_PRODUCCION=
NUBEFACT_SERIE_BOLETA=BBB1
NUBEFACT_SERIE_FACTURA=FFF1

# App
NEXT_PUBLIC_APP_NAME=Farmacia
